hr{
	margin-top: 0px;
}
.center { text-align:center; }
.space { margin-top: 20px; margin-bottom: 10px; }
.head{
	margin-top: 30px;
	margin-bottom: 15px;
}
.checkbox-center{
	margin-bottom:17px;
}
.pull_left{
	text-align: left !important ;
}
label.big { font-size: 20px; }
.form-group { margin-bottom:3px; }
.border-right { border-right:solid 1px #666; }
.white { color:white; }
.none { margin: 0px; padding:0px; }
.padding-bottom { padding-bottom: 0px; margin-bottom: 0px; }
.top { margin-top:20px; }
p.justify { text-align: justify; }
p.big { font-size: 20px; font-weight: bold; }
h1, h2, h3 { margin: 0 0 0.25em 0; }
.mb0 { margin-bottom: 0; }
.light { color: #C0C0C0; }
.box{
	background: #dedede;
	padding : 5px;
}
.page_foot{
	margin-top:40px;
	margin-bottom:20px;
}
.pad-top{
	padding-top: 3px;
}
.btop{
	border-top: solid 2px #000;
}
.bright{
	border-right: solid 2px #000;
}
.bbottom{
	border-bottom: solid 2px #000;
}
.bbottom-top{
	border-bottom: solid 2px #000;
	padding-top:3px;
}
.bleft{
	border-left: solid 2px #000;
}
.form-group{
	padding : 0 5 0 5;
}

.red{
	color: #C7203C;
}
.bold{
	font-weight: bold;
}
p{
	font-size: 14px;
	font-weight: bold;
}

.text-justify{
	text-align: justify;
}

img.logo{
    width:650px;


@media screen and (max-width : 767px) {
    .box,.btop,.bright,.bbottom,.bbottom-top,.bleft{
        border:none;
    }

    .top{
        text-align: center;
    }

    .top h5{
        font-size: 24px;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 480px){
    img.logo{
        width: 250px;
    }
}
p{
	font-size: 14px;
	font-weight: bold;
}
