<span style='color: #000'>4091 frames</span>	<span style='color: #900'>37,888 KB</span>	<span style='color: #090'>16,813.96 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />